


.ava {
    position: relative;
    left: 360px;
    top: 36px;
}

.quele{
    position: relative;
    left: 67px;
    bottom: 42px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 800;

}

.design {
    position: relative;
    left: 130px;
    bottom: 80px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 800;   
}

.rub1500 {
    position: relative;
    left: 362px;
    top: 16px;
    width: 85px;
}

.rer {
    position: relative;
    left: 431px;
}

.QUELECs {
font-family: Gotham;
font-size: 60px;
font-weight: 800;
line-height: 43px;
color: rgb(237, 163, 76);
position: relative;
top: 91px;
padding-left: 94px;
}

.grg {
color: rgb(255, 255, 255);
font-family: Gotham;
font-size: 60px;
font-weight: 800;
line-height: 43px;
position: relative;
top: 140px;
padding-left: 108px;
}

.gta1 {
    color: rgb(53, 53, 52);
    font-family: Gotham;
    font-size: 23px;
    font-weight: 900;
    line-height: 38px;

    width: 545px;
    height: 27px;
    position: relative;
    top: 170px;
    padding-left: 111px;
}

.gta3 {
    position: relative;
    padding-left: 108px;
    padding-top: 0px;
}


.gta4 {
    position: relative;
    padding-left: 108px;
    /* width: 75px; */
    /* height: 44px; */
    color: rgb(53, 53, 52);
padding-top: 10px;
    font-size: 24px;
    font-weight: 800;


}


.gta5 {
    position: relative;
    padding-left: 108px;
    padding-top: 10px;
}

.gta6 {
    position: relative;
    padding-left: 258px;
    color: rgb(53, 53, 52);
    font-size: 23px;
    font-weight: 900;
    bottom: 55px;
}

.frame {
    position: relative;
    padding-left: 108px;
    padding-top: 59px;
}

.gta7 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 800;
    line-height: 10px;
    letter-spacing: 0%;
    position: relative;
    padding-left: 177px;
    bottom: 37px;
}

.gta8 {
    position: relative;
    padding-top: 27px;
    padding-left: 108px;
}

.dust {
    top: 10px;
    position: relative;
    padding-left: 10px;
}

.gta9 {
    color: rgb(253, 253, 253);
    font-size: 15px;
    font-weight: 900;
    position: relative;
    bottom: 67px;
    padding-left: 10px;

}

.online {
    position: relative;
    bottom: 65px;
    padding-left: 10px;
}


.gta10 {
    color: rgb(253, 253, 253);
    font-size: 15px;
    font-weight: 900;
    position: relative;
    bottom: 114px;
    padding-left: 309px;
}

.online1 {
    position: relative;
    bottom: 111px;
    padding-left: 308px;
}

.gta11 {
    color: rgb(253, 253, 253);
    font-size: 15px;
    font-weight: 900;
    position: relative;
    bottom: 157px;
    padding-left: 610px;
}

.online2 {
    position: relative;
    bottom: 153px;
    padding-left: 600px;
}

.gta12 {
    color: rgb(253, 253, 253);
    font-size: 15px;
    font-weight: 900;
    position: relative;
    bottom: 195px;
    padding-left: 901px;
}

.online3 {
    position: relative;
    bottom: 196px;
    padding-left: 902px;
}


.dfd {
    position: relative;
    z-index: 1;
    top: 90px;
    color: red;
    font-size: 13px;
    font-weight: 800;
    padding-left: 59px;
}
.dfd1{
    position: relative;
    z-index: 1;
    top: 74px;
    color: red;
    font-size: 13px;
    font-weight: 800;
    padding-left: 357px;
}

.dfd2 {
    position: relative;
    z-index: 1;
    top: 59px;
    color: red;
    font-size: 13px;
    font-weight: 800;
    padding-left: 653px;
}

.dfd3 {
    position: relative;
    z-index: 1;
    top: 43px;
    color: red;
    font-size: 13px;
    font-weight: 800;
    padding-left: 935px;
}

.gta13 {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    padding-left: 183px;
}

.frame1 {
    position: relative;
    right: 76px;
    top: 32px;
}

.gta14 {
    background: rgb(32, 32, 32);
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 2em;
    width: 2em;
    position: relative;
    left: 108px;
    top: 36px;
}

.gta15 {
    background: rgb(32, 32, 32);
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 2em;
    width: 2em;
    position: relative;
    left: 514px;
    top: -55px;
}

.gta16 {
    background: rgb(32, 32, 32);
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 2em;
    width: 2em;
    position: relative;
    left: 948px;
    top: -87px;
}

.frame7 {
    position: relative;
    top: 76px;
    padding-left: 108px;
}


.frame8 {
    color: rgb(255, 255, 255);
font-size: 12px;
font-weight: 900;
line-height: 14px;
position: relative;
top: 15px;
}

.frame9 {
    color: rgb(106, 105, 105);
    font-size: 10px;
    font-weight: 900;
    line-height: 16px;
    position: relative;
    top: 22px;
    width: 388px;

}

.frame10 {
    position: relative;
    padding-left: 623px;
}

.frame11 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 900;
    line-height: 14px;
    position: relative;
    top: 10px;
}

.frame12 {
    color: rgb(106, 105, 105);
    font-size: 10px;
    font-weight: 900;
    line-height: 16px;
    position: relative;
    top: 22px;
    width: 258px;
}

.frame13 {
    position: relative;
    padding-left: 1013px;
    bottom: 84px;
}

.frame14 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 900;
    line-height: 14px;
    position: relative;
    padding-left: 44px;
    top: 5px;
}

.frame15 {
    color: rgb(106, 105, 105);
    font-size: 10px;
    font-weight: 900;
    position: relative;
    top: 17px;
    width: 191px;
    padding-left: 47px;
}

.line5 {
    position: relative;
    padding-left: 1105px;
    top: -104px;
}

.line6 {
    background: rgb(32, 32, 32);
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 2em;
    width: 2em;
    position: relative;
    left: -59px;
    top: -17px;  
} 

.frame18 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0%;
    position: relative;
    padding-left: 1043px;
    top: 10px;
}

.frame19 {
    color: rgb(106, 105, 105);
    font-size: 10px;
    font-weight: 900;
    position: relative;
    top: 17px;
    width: 197px;
}

.line7 {
    background: rgb(32, 32, 32);
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 2em;
    width: 2em;
    position: relative;
    left: 829px;
    top: -151px;

}

.frame20 {
    position: relative;
    padding-left: 934px;
    top: -97px;
}

.frame21 {
    color: rgb(255, 255, 255);
    /* font-family: Gotham; */
    font-size: 12px;
    font-weight: 900;
    position: relative;
    right: 92px;
    top: 8px;
}

.frame22 {
    color: rgb(106, 105, 105);
    font-size: 10px;
    font-weight: 900;
    width: 183px;
    position: relative;
    right: 140px;
    top: 27px;
}

.rut {
    position: relative;
    top: 30px;
    padding-left: 108px;
}

.konteuner {
    position: absolute;
    width: 491px;
    height: 195px;
    border-radius: 10px;
    background: rgb(237, 163, 76);
}

.ded {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    position: relative;
    top: 55px;
}

.baba {
    color: rgb(255, 255, 255);
    font-family: Glory;
    font-size: 15px;
    font-weight: 800;
    line-height: 12px;
    text-align: center;
    position: relative;
    top: 60px;
}


.konteuner1 {
    position: absolute;
    left: 750px;
    width: 491px;
    height: 195px;
    border-radius: 10px;
    background: rgb(26, 26, 25);
}

.ded1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    position: relative;
    top: 55px;
}

.baba1 {
    color: rgb(255, 255, 255);
    font-family: Glory;
    font-size: 15px;
    font-weight: 800;
    line-height: 12px;
    text-align: center;
    position: relative;
    top: 60px;
}